@model MusicStore.Models.SongView

@{
        ViewData["Title"] = "Index";
}

<h3>Browse Music</h3>

<form asp-controller="Song" asp-action="Index" method="get">

    <p>

        <select asp-for="genre_name" asp-items="Model.genre_list">
            <option value="">Genres</option>
        </select>

        <input type="Submit" value="Filter" class="btn btn-primary" />

        <select asp-for="artist_name" asp-items="Model.artist_list">
            <option value="">Performers</option>
        </select>

        <input type="Submit" value="Filter" class="btn btn-primary" />

    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.song![0].song_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.song![0].song_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.song![0].artist_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.song![0].genre_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.song![0].cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.song!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.song_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.song_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.artist_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cost)
                </td>
            </tr>
        }
    </tbody>
</table>